!!!
%html{:dir => "ltr", :lang => "en-US", :xmlns => "http://www.w3.org/1999/xhtml"}
  %head{:profile => "http://gmpg.org/xfn/11"}
    %meta{:content => "text/html; charset=UTF-8", "http-equiv" => "Content-Type"}/
    %title Course Catalog
    %meta{:content => "", :name => "description"}/
    %meta{:content => "", :name => "keywords"}/
    %link{:href => "http://fonts.googleapis.com/css?family=Droid+Sans:regular,bold", :rel => "stylesheet", :type => "text/css"}/
    %link{:href => "http://continue.austincc.edu/css/style.css", :media => "screen", :rel => "stylesheet", :type => "text/css"}/
    /[if lt IE 7]
      <link rel="stylesheet" type="text/css" href="http://continue.austincc.edu/css/ie6style.css" />
      <link rel="stylesheet" type="text/css" href="http://continue.austincc.edu/css/highslide-ie6.css" />
      <script type="text/javascript" src="http://continue.austincc.edu/js/DD_belatedPNG_0.0.8a-min.js"></script>
      <script type="text/javascript">DD_belatedPNG.fix('img#logo, ul.nav li.backLava, ul.nav li.backLava div.leftLava, #menu, #search-form, #featured, div.slide div.overlay, a#left-arrow, a#right-arrow, div.description, a.readmore, a.readmore span, ul.nav ul li a, #content-bottom, div.service img.service-icon, #controllers, #controllers-top, #controllers-main, #controllers a span.tooltip span.left-arrow, span.overlay, div.hr, #content-top, div.top-alt, div.bottom-alt, #content-bottom, #breadcrumbs span.sep');</script>
    /[if IE 7]
      <link rel="stylesheet" type="text/css" href="http://continue.austincc.edu/css/ie7style.css" />
    /[if IE 8]
      <link rel="stylesheet" type="text/css" href="http://continue.austincc.edu/css/ie8style.css" />
    :javascript
      document.documentElement.className = 'js';
    %meta{:content => "ACCCE 4.0", :name => "generator"}/
    %link{:href => "http://continue.austincc.edu/css/fancybox.css", :media => "screen", :rel => "stylesheet", :type => "text/css"}/
    %link{:href => "http://continue.austincc.edu/css/highslide.css", :rel => "stylesheet", :type => "text/css"}/
    %link#shortcodesStyleSheets-css{:href => "http://continue.austincc.edu/css/shortcodes.css?ver=3.0", :media => "all", :rel => "stylesheet", :type => "text/css"}/
    %script{:src => "http://continue.austincc.edu/splash/js/et_shortcodes_frontend.js?ver=1.7", :type => "text/javascript"}
    %script{:src => "http://continue.austincc.edu/splash/js/l10n.js?ver=20101110", :type => "text/javascript"}
    %script{:src => "http://continue.austincc.edu/splash/js/jquery.js?ver=1.6.1", :type => "text/javascript"}
    / <script type="text/javascript" src="http://continue.austincc.edu/js/jquery.js?ver=1.4.2"></script>
    %script{:src => "http://continue.austincc.edu/js/dynacrumbs.js", :type => "text/javascript"}
    :css
      .recentcomments a{display:inline !important;padding:0 !important;margin:0 !important;}
    %script{:src => "http://ajax.googleapis.com/ajax/libs/swfobject/2.1/swfobject.js", :type => "text/javascript"}
    %script{:src => "http://continue.austincc.edu/js/highslide-full.js", :type => "text/javascript"}
    %script{:charset => "utf-8", :src => "http://continue.austincc.edu/js/highslide.config.js", :type => "text/javascript"}
    /[if lt IE 7]
    :javascript
      var _gaq = _gaq || [];
      _gaq.push(['_setAccount', 'UA-6717256-3']);
      _gaq.push(['_trackPageview']);

      (function() {
        var ga = document.createElement('script'); ga.type = 'text/javascript'; ga.async = true;
        ga.src = ('https:' == document.location.protocol ? 'https://ssl' : 'http://www') + '.google-analytics.com/ga.js';
        var s = document.getElementsByTagName('script')[0]; s.parentNode.insertBefore(ga, s);
      })();
  %body#home
    #container
      .clear
      / Begin Emergency Message
      / Begin Emergency Message
      / End Emergency Message
      %script{:language => "javascript", :type => "text/javascript"}
        :cdata
          function MM_jumpMenu(targ,selObj,restore){ //v3.0
          eval(targ+".location='"+selObj.options[selObj.selectedIndex].value+"'");
          if (restore) selObj.selectedIndex=0;
          }
      #content-top
      #content.clearfix
        #content-area
          .entry.clearfix.post
            .two_third
              %h1{:style => "margin-bottom:10px"} Course Catalog
            .clear
            #line
            .catalogList
              %ul
                %li.intro
                  %a{:href => "in.php?topic=Accounting and Bookkeeping&term=&loc="} PV Modules
              %ul
                %li.intro
                  %a{:href => "in.php?topic=Administrative Assistant&term=&loc="} Spare Parts
              %ul
                %li.intro
                  %a{:href => "in.php?topic=Building Construction&term=&loc="} Batteries
              %ul
                %li.intro
                  %a{:href => "in.php?topic=Business Development&term=&loc="} Grid Extension
              %ul
                %li.intro
                  %a{:href => "in.php?topic=Corporate Training&term=&loc="} Inverters
              %ul
                %li.intro
                  %a{:href => "in.php?topic=Fire Academy CE&term=&loc="} Charge Controllers
              %ul
                %li.intro
                  %a{:href => "in.php?topic=Flight Training&term=&loc="} Maintenence Kit
              %ul
                %li.intro
                  %a{:href => "in.php?topic=Human Resources&term=&loc="} Troubleshooting
              %ul
                %li.intro
                  %a{:href => "in.php?topic=International Business&term=&loc="} Energy Management
              %ul
                %li.intro
                  %a{:href => "in.php?topic=Interpreters&term=&loc="} Hybrid Systems
              %ul
                %li.intro
                  %a{:href => "in.php?topic=LEED Certification Preparation&term=&loc="} Interconnection Panels
              %ul
                %li.intro
                  %a{:href => "in.php?topic=Management&term=&loc="} Electrical Safety
