<div class='headline'> All posts with tag <b>Ghana</b>.</div>

<div class='box'>
  <div class='question'>
  I am maintaining the SunnyVille Farm in Ghana.
  How do I measure current on an Enphase PV panel?
  </div>

  <div class='tallies'>
    <div class='votes'>
      <div class='num_votes'> 2 </div>
      <div class='title'> Votes </div>
    </div>
    <br>
    <div class='answers'>
      <div class='num_votes'> 5 </div>
      <div class='title'> Answers </div>
    </div>
  </div>

  <div class='labels_box'>
    <div class="positioning_div">
      <div class='label'>Ghana</div>
      <div class='label'>Sunnyville</div>
      <div class='label'>Enphase</div>
      <div class='label'>current</div>
    </div>
  </div>

</div>

<div class='box'>
  <div class='question'>
    How often do I need to clean the panels?

  </div>

  <div class='tallies'>
    <div class='votes'>
      <div class='num_votes'> 21 </div>
      <div class='title'> Votes </div>
    </div>
    <br>
    <div class='answers'>
      <div class='num_votes'> 2 </div>
      <div class='title'> Answers </div>
    </div>
  </div>

  <div class='labels_box'>
    <div class='label'>Ghana</div>
    <div class='label'>Sunnyville</div>
    <div class='label'>cleaning</div>
  </div>

</div>

<div class='box'>
  <div class='question'>
    Where do I get new parts for this battery? How long does the battery last? How do I know when I can't fix it anymore?
</div>

  <div class='tallies'>
    <div class='votes'>
      <div class='num_votes'> 12 </div>
      <div class='title'> Votes </div>
    </div>
    <br>
    <div class='answers'>
      <div class='num_votes'> 2 </div>
      <div class='title'> Answers </div>
    </div>
  </div>

  <div class='labels_box'>
    <div class='label'>Ghana</div>
    <div class='label'>Sunnyville</div>
    <div class='label'>battery</div>
    <div class='label'>parts</div>
  </div>
</div>

<div class='box'>
  <div class='question'>
    How do I protect our wires from animals? How do I get more wire, how do I know what size wire I need?
</div>

  <div class='tallies'>
    <div class='votes'>
      <div class='num_votes'> 24 </div>
      <div class='title'> Votes </div>
    </div>
    <br>
    <div class='answers'>
      <div class='num_votes'> 2 </div>
      <div class='title'> Answers </div>
    </div>
  </div>

  <div class='labels_box'>
    <div class='label'>Ghana</div>
    <div class='label'>Sunnyville</div>
    <div class='label'>wiring</div>
    <div class='label'>wildlife</div>
  </div>
</div>

<div class='box'>
  <div class='question'>
    How do I know when my batteries get delivered? Who/where do new parts get delivered to?
</div>

  <div class='tallies'>
    <div class='votes'>
      <div class='num_votes'> 24 </div>
      <div class='title'> Votes </div>
    </div>
    <br>
    <div class='answers'>
      <div class='num_votes'> 2 </div>
      <div class='title'> Answers </div>
    </div>
  </div>

  <div class='labels_box'>
    <div class='label'>Ghana</div>
    <div class='label'>Sunnyville</div>
    <div class='label'>procurement</div>
    <div class='label'>batteries</div>
  </div>
</div>

<div class='box'>
  <div class='question'>
    How do I know the inverter is broken? Can I open the inverter? Is it dangerous to touch the inside of the inverter? How do I get a new inverter?
</div>

  <div class='tallies'>
    <div class='votes'>
      <div class='num_votes'> 24 </div>
      <div class='title'> Votes </div>
    </div>
    <br>
    <div class='answers'>
      <div class='num_votes'> 2 </div>
      <div class='title'> Answers </div>
    </div>
  </div>

  <div class='labels_box'>
    <div class='label'>Ghana</div>
    <div class='label'>Sunnyville</div>
    <div class='label'>Enphase</div>
    <div class='label'>current</div>
  </div>
</div>
