.row
  .col-md-6
    .panel.panel-default
      .panel-heading
        %h2.panel-title
          Current Sunfixrs for Project: #{@project.name}
      .panel-body
        .row
          .col-xs-6
            %strong
              Email
          .col-xs-3
            %strong
              Role
          .col-xs-3
        =form_for(@project, url: project_path(@project.id,{return_to: project_users_path(@project)}), method: :patch) do |f|
          - @project.users_projects.each do |user_project|
            =f.fields_for :users_projects, user_project do |u|
              .row.user_row
                .col-xs-6
                  %p.form-control-static
                    #{user_project.user.email}
                .col-xs-3
                  =u.text_field :role, {size: '8', class: 'form-control'}
                .col-xs-3
                  =link_to('Remove', project_user_path(@project.slug,user_project.id), method: :delete, :data => { :confirm => 'Are you sure you want to remove this Sunfixr?' }, class: 'btn btn-warning destroy_link')
          .row.user_row
            .col-xs-12
              =f.submit(class: 'btn btn-primary btn-block')
  .col-md-6
    .panel.panel-default
      .panel-heading
        %h2.panel-title
          Invite New Sunfixrs to Project: #{@project.name}
      .panel-body
        &nbsp
        =form_tag project_invite_new_user_path(@project.id,{return_to: project_users_path(@project)}), method: :post do
          .form-group
            =label_tag :emails, 'Emails (Separate with commas)'
            =text_field_tag :emails, nil, size: 40, class: 'form-control'
          .form-group
            =label_tag :invitation
            =text_area_tag :invitation, nil, rows: 8, class: 'form-control'
          .form-group
            =submit_tag 'Invite new sunfixrs', class: 'form-control btn btn-primary'