#attachments_form.panel.panel-default
  .panel-heading
    %h1.panel-title
      Attachments
  .panel-body
    .row.top
      .col-sm-4.text-center
        %strong
          Notes
      .col-sm-4.text-center
        %strong
          Link
      .col-sm-4
        &nbsp;
    - f.object.attachments.each do |attachment|
      =f.fields_for :attachments, attachment do |p|
        .panel.panel-default
          .panel-body
            .row.fields
              .col-sm-4.text-center
                =p.text_area :notes, cols: '25', rows: '3'
              .col-sm-4.text-center
                =link_to attachment.filename,attachment.attachment_url(:secure => true)
              .col-sm-4.text-center
                =link_to('Destroy', api_v1_attachment_path(attachment.id, return_to: attachment_destroy_return_to), method: :delete, :data => { :confirm => 'Are you sure?' }, class: 'btn btn-primary btn-block destroy_link')
    #admin-controls.row
      .col-sm-12
        =link_to "Add a #{f.object.class} Attachment", '#', class: 'btn btn-primary btn-block', id: 'add_attachment_link'

:javascript
  $(document).ready(function(){
    $('#add_attachment_link').attr('data','#{f.object_name}')
    $('#add_attachment_link').click(addAttachment)
  });