%footer#footer
  .footer-space
    &nbsp;
  %nav.navbar.navbar-default.navbar-fixed-bottom{:role => "navigation"}
    .container.footer-box
      .col-md-3
        %p Copyright © 2015 Solar Advocate
      .col-md-3.col-md-offset-6
        %p Contact
