<footer id="footer">
  <nav class="navbar navbar-default navbar-fixed-bottom" role="navigation">
    <div class="container footer-box">
      <div class="col-md-3">
        <p>Copyright © 2015 Solar Advocate</p>
      </div>
      <div class="col-md-3 col-md-offset-6">
        <p>Contact</p>
      </div>
    </div>
    </nav>
</footer>
