:javascript
  var addProfilePic = function(){
    var count = $('#project_pics').find('tr.fields').length
    var table=$('#project_pics tr:nth-last-of-type(2)')
    var form = $('#edit_project_1')
     table.before(
        '<tr class="fields"><td><textarea name="project[project_pics_attributes][' +
           count + '][notes]" id="add_project_project_pics_attributes_' + count + '_notes"></textarea></td><td> <input type="file" name="project[project_pics_attributes][' +
           count + '][picture]" id="add_project_project_pics_attributes_' + count + '_picture"/><input type="hidden" name="project[project_pics_attributes][' +
           count + '][picture_cache]" id="add_project_project_pics_attributes_' + count + '_picture_cache"/></td></tr>'
        )
    }

  $(document).ready(function(){
    var form = $('#edit_project_1')
    form.submit(function(){
      $('[id^=add]').appendTo($(this))
    })

  })





%table#project_pics
  %tr
    %th
      Notes
    %th
      Thumbnail
  =form_for @project, url: project_path(@project.id,{return_to: project_project_pics_path(@project)}), method: :patch, html: { multipart: true } do |f|
    - @project.project_pics.each do |pic|
      =f.fields_for :project_pics, pic do |p|
        %tr.fields
          %td
            =link_to('Destroy', project_project_pic_path(@project.slug,pic.id), method: :delete, :data => { :confirm => 'Are you sure?' }, class: 'destroy_link')
          %td
            =p.text_area :notes
          %td
            #{image_tag(pic.picture_url(:thumb), :width => 100, :height => 100)}
    %tr
      %td
        =link_to "Add a Project Pic", 'javascript: addProfilePic()'
    %tr
      %td{span: 2}
        =f.submit
