
.panel.panel-default
  .panel-heading
    %h2.panel-title
      Project #{@project.name}'s Pictures
  .panel-body
    =form_for @project, url: project_path(@project.id,{return_to: project_project_pics_path(@project)}), method: :patch, html: { multipart: true } do |f|
      .row.top
        .col-sm-4.text-center
          %strong
            Notes
        .col-sm-4.text-center
          %strong
            Thumbnail
        .col-sm-4
          &nbsp;
      - @project.project_pics.each do |pic|
        =f.fields_for :project_pics, pic do |p|
          .panel.panel-default
            .panel-body
              .row.fields
                .col-sm-4.text-center
                  =p.text_area :notes, cols: '25', rows: '5'
                .col-sm-4.text-center
                  #{image_tag(pic.picture_url(:thumb, :secure => true), :width => 160, :height => 120)}
                .col-sm-4.text-center
                  =link_to('Destroy', project_project_pic_path(@project.slug,pic.id), method: :delete, :data => { :confirm => 'Are you sure?' }, class: 'btn btn-primary btn-block destroy_link')
      .row
        .col-sm-6
          =link_to "Add a Project Picture", 'javascript: addProfilePic()', class: 'btn btn-primary btn-block'
        .col-sm-6
          =f.submit 'Update Project', class: 'btn btn-primary btn-block'