.row
  .col-xs-12
    &nbsp;
.row
  .col-xs-12
    %h2
      Our example rural micro grid projects:
    %ul
      -@projects.each do |project|
        %li
          =link_to(project.name,"project/#{project.slug}")

