#homepage

  .row
    .small-12.columns
      &nbsp;
  .row
    .small-11.columns.small-centered
      %h2
        Our example rural micro grid projects:
      %ul
        -@installations.each do |installation|
          %li
            =link_to(installation.name,"project/#{installation.slug}")
  .row
    .small-12.columns
      #{image_tag('header.jpg')}
:css
  #homepage{
    background-image: url("#{image_path("header.jpg")}") ;
    color: white;
  }
  #homepage h2{
    color: white;
  }

  #homepage a:link{
    color: white;
  }

  #homepage a:visited{
    color: white;
  }

  #homepage a:active{
    color: white;
  }

  ul li {
    list-style-type: none;
    font-size: 1.5em;
    line-height: 130%
  }