.row
  .col-xs-12
    &nbsp;
.row
  .col-xs-12
    %h2
      Our example rural micro grid projects:
    %ul
      -@installations.each do |installation|
        %li
          =link_to(installation.name,"project/#{installation.slug}")

