#homepage

  .row
    .small-12.columns
      &nbsp;
  .row
    .small-11.columns.small-centered
      %h2
        Maintain and Sustain Rural Microgrids
      %ul
        %li
          =link_to('Ditunga','project/Ditunga')
        %li
          =link_to('Solarville','project/SolarVille')
        %li
          =link_to('MyVillage','project/MyVillage')
  .row
    .small-12.columns
      #{image_tag('header.jpg')}
:css
  #homepage{
    background-image: url("#{image_path("header.jpg")}") ;
    color: white;
  }
  #homepage h2{
    color: white;
  }

  #homepage a:link{
    color: white;
  }

  #homepage a:visited{
    color: white;
  }

  #homepage a:active{
    color: white;
  }

  ul li {
    list-style-type: none;
    font-size: 1.5em
  }