.admin {
  .admin-label {
    font-size: 1.2em;
    font-weight: bold;
  }
  .admin-name {
    font-size: 1.2em;
    margin-top: 10px;
  }
  .admin-item {
    font-size: 1.2em;
    .glyphicon {
      margin-left: 10px;
    }
  }
  .admin-controls {
    margin-top: 20px;
  }
  .admin-value {
    font-size: 1.2em;
  }
  .admin-row {
    //line-height: 200%;
    margin-top: 10px;
  }
}