#project-index {

  h2 {
    color: white;
  }

  a:link {
    color: white;
  }

  a:visited {
    color: white;
  }

  a:active {
    color: white;
  }

  ul li {
    list-style-type: none;
    font-size: 1.5em;
    line-height: 130%
  }

  background-image: url("#{image_path("header.jpg")}") ;
  color: white;
}

#projects-home {
  //Stef you can add css here for the home page


  #map-canvas {
    height: 400px;
    margin: 0px;
    padding: 0px
  }

  .map-image {
    height: 400px;
    margin-top: 20px;
    margin-bottom: 20px;
    /*clear: both;*/
  }

}

#new_project_button {
  margin-top: 17px;
}