.panel.panel-default
  .panel-heading
    %h2.panel-title
      Project #{@project.name}
  .panel-body.admin
    =form_for @project, url: project_path(@project.id,{return_to: project_attachments_path(@project)}), method: :patch, html: { multipart: true } do |f|
      = render :partial => 'shared/attachments_form', locals: {f: f,attachment_destroy_return_to: project_attachments_path(@project)}
      .row.admin-controls
        .col-xs-12.text-center
          =f.submit(class: 'btn btn-primary form-control')
      .row.admin-controls
        .col-xs-12.text-center
          =link_to "Back To Project", project_path(@project), class: 'btn btn-primary'
